@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Lato', sans-serif;
}

h2 {
  text-align: center;
  color: coral;
}

.curso {
  padding: 10px;
  border-bottom: 1px dashed #eee;
}

.curso_edit{
  margin: 5% 0;
}

.edit_curso{
  width: 100%;
  margin: 20px 0;
  padding: 10px;
}

.btn-remove {
  padding: 10px;
  font-size: 15px;
  background-color: #ff5a5a;
  color: #fff;
  border-radius: 5px;
  border: none;
  display: inline-block;
  margin-right: 10px;
  }
  
  .btn-add {
  padding: 10px;
  font-size: 15px;
  background-color: #5a9fff;
  color: #fff;
  border-radius: 5px;
  border: none;
  display: inline-block;
  margin-right: 10px;
  }
  
input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #ccc;
}

select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  font-size: 1.2em;
  background-color: green;
  color: #fff;
  border-radius: 5px;
  border: none;
  float: right;
}

.btn {
  padding: 10px;
  font-size: 15px;
  color: #fff;
  border-radius: 5px;
  border: none;
  margin-right: 20px;
}

.btn-save {
  background-color: green;
}

.msg {
  padding: 2px 10px;
  width: 100%;
  border-radius: 5px;
  margin: 10px 0;
}
